<table>
  <thead>
    <tr>
      <th>
        Column
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Metric
      </td>
      <td>
        How the system refers to this metric, for example, <code>jobs.row_level_ttl.rows_deleted</code>.
      </td>
    </tr>
    <tr>
      <td>
        Aggregator
      </td>
      <td>
        <p>
          Used to combine data points.
        </p>
        <p>
          Options:
          <ul>
            <li><strong>Sum</strong>: Returns the sum of all values seen.</li>
            <li><strong>Max</strong>: Returns the highest value seen.</li>
            <li><strong>Min</strong>: Returns the lowest value seen.</li>
            <li><strong>Avg</strong>: Returns the average value over the time period.</li>
          </ul>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        Rate
      </td>
      <td>
        <p>
          Determines how to display the rate of change during the selected time period.
        </p>
        <p>
          Option:

          <ul>
            <li>
              <strong>Normal</strong>: Returns the actual recorded value.
            </li>
          </ul>
        </p>
      </td>
    </tr>
    <tr>
      <th>
        Units
      </th>
      <td>
        <p>
          Sets the units to display. The selected measurement filters what metrics are available to be added to the chart.
        </p>
        <p>
          Options:
          <ul>
            <li><strong>Bytes</strong></li>
            <li><strong>Count</strong></li>
            <li><strong>Duration</strong></li>
            <li><strong>Percentage</strong></li>
            <li><strong>USD</strong></li>
          </ul>
        </p>
      </td>
    </tr>
  </tbody>
</table>